.unique-movie > img {
    height: 10vh;
    width: 10vw;
} 




.unique-movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--darkest-blue-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: scroll;
  transform: translate(0, 0);
  margin: 0;
  overflow-x: hidden; 
  overflow-y: scroll; 
}
.movie-poster {
  height: auto;
  width: 15vw;
  padding-left: 20vw;
}

.lower-section{
    display: flex;
    flex-direction: row;
    padding-right: 20vw;
    padding-bottom: 50px;
}
.right-side {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 5vw;
  align-items: flex-start;
  color: white;
}

.right-side > h2 { 
  font-size: 5vh;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.expanded-content {
  display: flex;
  flex-direction: column;
  overflow-x: contain;
  height: 100%;
  width: 100%;
}
 .expanded-content > .backDrop {
  width: 200px;
  height: auto;
} 

img.backDrop {
  padding-left: 8vw;
  padding-right: 8vw;
  height: 100%;
  width: 84.5%;
  padding-bottom: 0;
  margin-bottom: 0;
}
.vignette-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 70%;
  width: 100%;
}
.backdrop {
    padding-left: 8vw;
    padding-right: 8vw;
    height: 100%;
    width: 84.5%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

.vignette-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.vignette-overlay {
  padding-left: 8vw;
  position: absolute;
  left: 8vw;
  top: 0;
  width: 76.7%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.8) 80%
  );
  pointer-events: none;
} 
.tagline {
    font-style: italic;
    font-weight: 500;
}