
@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,700&family=Roboto+Mono:wght@100;200;300;500&family=Space+Grotesk:wght@700&display=swap);

:root {
  --green: #1ebc35;
  --orange: #ff8001;
  --blue: #41bcf4;
  --blue-black: #14191e;
  --lighter-blue-black: #1f252d;
  --light-gray: #1f252d;
  --darkest-blue-black: #14181c;
  --cool-gray: #8C92AC;
  --white: #FFFFFF;
  --gray: #B9BDC1;

}

body {
  margin: 0;
  overflow-x: hidden; 
}

.App {
  text-align: center;
  background-color: var(--lighter-blue-black);
  font-family: 'Space Grotesk', sans-serif;
  color: var(--gray)
}

.App-link {
  color: #61dafb;
}


main > h1{
  padding-top: 5vh;
  margin-top: 0;
  background-color: var(--);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
