.original-view
 {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 0px;
  height: auto;
  width: 10vw;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.original-view:hover {
  filter: grayscale(70%) brightness(80%);
}
